connexion~=2.14.2
connexion[swagger-ui]>=2, <3
python_dateutil == 2.8.2
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2

PyJWT~=2.8.0
Flask~=2.2.5
Werkzeug~=2.2.3
six~=1.16.0
Flask-Cors==4.0.0
jose~=1.0.0