venv
database/__pycache__/
swagger_server/__pycache__/
swagger_server/controllers/__pycache__/
swagger_server/database.db
swagger_server/models/__pycache__/
database.db
myconnection.session.sql
.vscode/
.idea
database/__pycache__
__pycache__
tms/__pycache__
tms/.env